.home__explore--all {
  margin-top: 2rem;
  text-align: center;
}

.explore-button {
  background-color: transparent;
  color: var(--primary-color);
  &:hover {
    color: var(--parimary-secondary) !important;
    background-color: var(--hover-color);
  }
}
