.home__section {
  text-align: center;
  margin-top: 2rem;
}

.home__section--button {
  background-color: transparent;
  padding: 13px 30px;
  font-size: 20px;
  color: var(--primary-color);
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--hover-color);
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    color: var(--parimary-secondary);
    background-color: var(--hover-color);
  }
}

/*  */
.home__jobs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .home__jobs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    gap: 1rem;
    margin: 0 6px;
    justify-content: center;
  }
}
