.header-section {
  color: #fff;
  width: 100%;
  /* position: fixed;
  z-index: 10; */
  transform: translateY(0);
  transition: 0.5s all;
}

header.compaq {
  background-color: #2d9596;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
}

header.hide {
  transform: translateY(-120px);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo h1 {
  font-family: math;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__links .active {
  color: var(--parimary-secondary);
  background-color: var(--hover-color);
}

.mobile__menu--header__links a:hover {
  color: var(--parimary-secondary);
  background-color: var(--hover-color);
}

.header__links a {
  list-style: none;
  padding: 9px 20px;
  border-radius: 3px;
  border-radius: 2px 10px 2px 10px;
  transition: all 0.3s;
  color: black;
  &:hover {
    /* background-color: #0766ad; */
    /* background-color: #00cf5d; */
    /* background-color: #0556f3; */
    /* background-color: #5f8670; */
    /* background-color: rgb(0, 145, 173); */
    /* background-color: rgb(6 193 229); */
    /* background-color: #c5e898; rgb(0 214 255)*/
    background-color: var(--hover-color);
    color: var(--parimary-secondary);
    border-radius: 2px 12px 2px 12px;
  }
}

ul.header__links.users li a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.mobile__nav--bar,
.mobile__nav--logo,
.mobile__menu {
  display: none;
}

.header__link img {
  border: 2px solid var(--hover-color);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 600px) {
  .header__links {
    display: none;
  }

  .header__logo {
    display: none;
  }

  .mobile__nav--bar {
    display: block;
    color: black !important;
  }

  .mobile__nab--hamburger {
    display: block;
  }

  .mobile__nav--logo {
    display: block;
  }

  .mobile__menu {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(20 160 119 / 54%);
  }

  .mobile__menu--header__links {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .mobile__nab--hamburger svg {
    color: black;
  }

  .mobile__nav--bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 15px;
  }

  .mobile__nav--right {
    display: flex;
    align-items: center;
    color: red;
  }

  .mobile__nav--items {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  .mobile__nav--user {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
