.header-section {
  color: #fff;
  width: 100%;
  /* position: fixed;
  z-index: 10; */
  transform: translateY(0);
  transition: 0.5s all;
}

header.compaq {
  background-color: #2d9596;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
}

header.hide {
  transform: translateY(-120px);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo h1 {
  font-family: math;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__links li {
  list-style: none;
  padding: 9px 20px;
  border-radius: 3px;
  transition: all 0.4s;
  color: black;
  &:hover {
    /* background-color: #0766ad; */
    /* background-color: #00cf5d; */
    /* background-color: #0556f3; */
    /* background-color: #5f8670; */
    /* background-color: rgb(0, 145, 173); */
    background-color: rgb(6 193 229);
    /* background-color: #c5e898; rgb(0 214 255)*/
  }
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.mobile-nav {
  display: none;
}
