html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  background-color: #29adb2;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
}
