html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #14a077;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::selection {
  background: #14a077;
  color: #ffffff;
  text-shadow: none;
}

:root {
  --primary-color: #121212;
  --parimary-secondary: #fff;
  --hover-color: #14a077;
  --icon-hover: #eb4d4d;
  --border-color: #e5e5e5;
  --li-color: #64666c;
}

body {
  background-color: #fff;
  color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a,
button {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.button {
  padding: 13px 30px;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
  border: 1px solid var(--hover-color);
  border-radius: 3px;
}
