body {
  background-color: #29adb2;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
button {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
}
