.home__job--main {
  border: 2px solid var(--border-color);
  transition: all 0.4s;
  padding: 1rem;
  &:hover {
    border: 2px solid var(--hover-color);
  }
}
.home__job--data {
  display: flex;
  justify-content: space-between;
}

.home__job--info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.home__job--favorite {
  border-radius: 50%;
  border: 1px solid var(--hover-color);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.svgimage {
  fill: var(--border-color);
  transition: all 0.3s;
}

.home__job--favorite:hover .svgimage {
  fill: red;
  stroke: none;
}

.home__job--location svg {
  color: var(--hover-color);
}

.home__job--postDate svg {
  color: var(--hover-color);
}

.home__job--ld {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--li-color);
  padding-bottom: 15px;
}

.stroke-class {
  stroke: #ffd700;
}

.one {
  fill: #ffd700 !important;
}

.fill-class {
  fill: #fff;
}

.home__job--ts {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 12px;
}

.job__tag {
  display: flex;
  gap: 1rem;
}

.job__rate {
  display: flex;
  align-items: center;
}

.home__job--se {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0px 0;
}

.home__job--position {
  font-size: 22px;
  font-weight: bolder;
  padding: 7px 0;
  transition: all 0.3s;
  color: var(--hover-color);
}

.home__Job--salary {
  display: flex;
  align-items: center;
}

.job__tag p {
  background-color: #f1f1f1;
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 500;
  padding: 5px 18px;
  border-radius: 52px;
  transition: all 0.3s;
  &:hover {
    background-color: var(--hover-color);
    color: var(--parimary-secondary);
  }
}

.home__Job--salary {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 17px;
}

.home__Job--salary svg {
  color: var(--hover-color);
}

.home__job-sub {
  color: var(--li-color);
  font-size: 15px;
  display: flex;
  align-items: center;
}

.home__job-sub svg {
  color: var(--hover-color);
}

@media screen and (max-width: 600px) {
  .home__job--ld {
    flex-direction: column;
    align-items: start;
    gap: 1px;
  }

  .home__job--se {
    flex-direction: column;
  }

  .home__job--position {
    font-size: 14px;
    padding: 0px;
  }

  .home__job--location {
    font-size: 13px;
  }
}
